
.card-holder {
    position: relative;
    display:inline-flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.card {
    text-align: center;
    align-items: center;
    background-color: white;
    display:inline-block;
    min-width:150px;
    max-width:300px;
    width:33%;
    min-height:150px;
    margin:10px;
    padding:30px;
    color:rgb(50,50,50);
    font-family: 'Source Sans Pro';
    box-shadow: 10px 10px lightslategrey;
}

body {
  background-color:rgb(230, 230, 230);
}
.name-bar {
  position: relative;
  display: inline-block;
  text-align: center;
  background-color:rgb(256, 256, 256);
  font-family: 'Comfortaa';
  min-width:200px;
  max-width:300px;
  width:25%;
}

.name-cell {
  position: relative;
  display: block;
  height: 50px;
  text-align: center;
  border-color: lightgrey;
  border-style: solid;
  border-top-width: 0.5px;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  font-family: 'Source Sans Pro';
  color: rgb(71, 71, 71);
}

.name-text {
  position: absolute;
  top: 30%;
  left: 10px;
}

.name:hover {
  background-color: rgb(129, 184, 206);
}

.mikela {
    display:inline-block;
    padding:30px;
    margin: auto; 
    width: 99%; 
    border: 3px solid rgb(80, 179, 217); 
    border-radius: 10px; padding: 10px; 
    text-align: left; 
    font: bold 30px Comfortaa; 
    color: rgb(80, 179, 217);
    background-color: white;
}

.main-container {
  position: relative;
  top: 10px;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.heading {
  font-family: 'Raleway'; 
  color: rgb(39, 135, 199);
  font-size: 24px;
}


.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 90%;
  background: #d3d3d3;
  outline: none;
  height: 10px;
  border-radius: 10px;  
  opacity: 0.7; 
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 10px;
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: rgb(45, 185, 185);
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  width: 25px;
  height: 25px;
}

td {
  font-size: 12pt;
  font-family: 'Arial Black';
}

.reset-button:hover {
  opacity: 0.7;

}