
.card-holder {
    width: 100%;
    background-color:blue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    padding-right: 5%;
}

.card {
    text-align: center;
    background-color: rgb(208, 195, 186);
    display:inline-block;
    min-width:150px;
    min-width: 300px;
    max-width:300px;
    margin:20px;
    padding:30px;
    color:rgb(50,50,50);
<<<<<<< HEAD
    font-family: monospace;
  }

body {
  background-color:rgb(0, 204, 204);
}
.name-bar {
  text-align: center;
  background-color:rgb(256, 256, 256);
}

.name {
  text-align: center;
=======
}

.mikela {
    display:inline-block;
    padding:30px;
    margin: auto; 
    width: 20%; 
    border: 3px solid rgb(80, 179, 217); 
    border-radius: 10px; padding: 10px; 
    text-align: center; 
    font: bold 30px Comfortaa, cursive; 
    color: rgb(80, 179, 217);
>>>>>>> 5150563f6393f1cf5963eceab24731cb7c7f4c46
}